(edif cp_const
  (edifversion 2 0 0)
  (edifLevel 0)
  (keywordmap (keywordlevel 0))
(status
 (written
  (timeStamp 2021 09 27 19 13 13)
  (program "Vivado" (version "2018.2"))
  (comment "Built on 'Thu Jun 14 20:02:38 MDT 2018'")
  (comment "Built by 'xbuild'")
 )
)
  (Library hdi_primitives
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell GND (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port G (direction OUTPUT))
       )
     )
   )
   (cell VCC (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port P (direction OUTPUT))
       )
     )
   )
   (cell BUFG (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell IBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell LUT2 (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I0 (direction INPUT))
        (port I1 (direction INPUT))
       )
     )
   )
   (cell FDRE (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port Q (direction OUTPUT))
        (port C (direction INPUT))
        (port CE (direction INPUT))
        (port D (direction INPUT))
        (port R (direction INPUT))
       )
     )
   )
   (cell OBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell INV (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface
         (port I (direction INPUT))
         (port O (direction OUTPUT))
       )
     )
   )
  )
  (Library work
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell cp_const (celltype GENERIC)
     (view cp_const (viewtype NETLIST)
       (interface 
        (port clk (direction INPUT))
        (port pcpi_ready (direction OUTPUT))
        (port pcpi_valid (direction INPUT))
        (port pcpi_wait (direction OUTPUT))
        (port pcpi_wr (direction OUTPUT))
        (port (array (rename pcpi_insn "pcpi_insn[31:0]") 32) (direction INPUT))
        (port (array (rename pcpi_rd "pcpi_rd[31:0]") 32) (direction OUTPUT))
        (port (array (rename pcpi_rs1 "pcpi_rs1[31:0]") 32) (direction INPUT))
        (port (array (rename pcpi_rs2 "pcpi_rs2[31:0]") 32) (direction INPUT))
       )
       (contents
         (instance GND (viewref netlist (cellref GND (libraryref hdi_primitives))))
         (instance VCC (viewref netlist (cellref VCC (libraryref hdi_primitives))))
         (instance clk_IBUF_BUFG_inst (viewref netlist (cellref BUFG (libraryref hdi_primitives))))
         (instance clk_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance finish_i_1 (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'h2"))
         )
         (instance finish_reg (viewref netlist (cellref FDRE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance (rename pcpi_rd_OBUF_0__inst "pcpi_rd_OBUF[0]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_10__inst "pcpi_rd_OBUF[10]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_11__inst "pcpi_rd_OBUF[11]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_12__inst "pcpi_rd_OBUF[12]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_13__inst "pcpi_rd_OBUF[13]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_14__inst "pcpi_rd_OBUF[14]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_15__inst "pcpi_rd_OBUF[15]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_16__inst "pcpi_rd_OBUF[16]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_17__inst "pcpi_rd_OBUF[17]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_18__inst "pcpi_rd_OBUF[18]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_19__inst "pcpi_rd_OBUF[19]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_1__inst "pcpi_rd_OBUF[1]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_20__inst "pcpi_rd_OBUF[20]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_21__inst "pcpi_rd_OBUF[21]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_22__inst "pcpi_rd_OBUF[22]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_23__inst "pcpi_rd_OBUF[23]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_24__inst "pcpi_rd_OBUF[24]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_25__inst "pcpi_rd_OBUF[25]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_26__inst "pcpi_rd_OBUF[26]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_27__inst "pcpi_rd_OBUF[27]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_28__inst "pcpi_rd_OBUF[28]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_29__inst "pcpi_rd_OBUF[29]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_2__inst "pcpi_rd_OBUF[2]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_30__inst "pcpi_rd_OBUF[30]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_31__inst "pcpi_rd_OBUF[31]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_3__inst "pcpi_rd_OBUF[3]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_4__inst "pcpi_rd_OBUF[4]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_5__inst "pcpi_rd_OBUF[5]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_6__inst "pcpi_rd_OBUF[6]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_7__inst "pcpi_rd_OBUF[7]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_8__inst "pcpi_rd_OBUF[8]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance (rename pcpi_rd_OBUF_9__inst "pcpi_rd_OBUF[9]_inst") (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance pcpi_ready_OBUF_inst (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance pcpi_ready_reg (viewref netlist (cellref FDRE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance pcpi_ready_reg_lopt_replica (viewref netlist (cellref FDRE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
           (property OPT_INSERTED_REPDRIVER (boolean (true)))
         )
         (instance pcpi_valid_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance pcpi_wait_OBUF_inst (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance pcpi_wr_OBUF_inst (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (net (rename &_const0_ "<const0>") (joined
          (portref G (instanceref GND))
          (portref I (instanceref pcpi_rd_OBUF_0__inst))
          (portref I (instanceref pcpi_rd_OBUF_10__inst))
          (portref I (instanceref pcpi_rd_OBUF_11__inst))
          (portref I (instanceref pcpi_rd_OBUF_12__inst))
          (portref I (instanceref pcpi_rd_OBUF_13__inst))
          (portref I (instanceref pcpi_rd_OBUF_14__inst))
          (portref I (instanceref pcpi_rd_OBUF_15__inst))
          (portref I (instanceref pcpi_rd_OBUF_16__inst))
          (portref I (instanceref pcpi_rd_OBUF_17__inst))
          (portref I (instanceref pcpi_rd_OBUF_18__inst))
          (portref I (instanceref pcpi_rd_OBUF_19__inst))
          (portref I (instanceref pcpi_rd_OBUF_1__inst))
          (portref I (instanceref pcpi_rd_OBUF_20__inst))
          (portref I (instanceref pcpi_rd_OBUF_21__inst))
          (portref I (instanceref pcpi_rd_OBUF_22__inst))
          (portref I (instanceref pcpi_rd_OBUF_23__inst))
          (portref I (instanceref pcpi_rd_OBUF_24__inst))
          (portref I (instanceref pcpi_rd_OBUF_25__inst))
          (portref I (instanceref pcpi_rd_OBUF_26__inst))
          (portref I (instanceref pcpi_rd_OBUF_27__inst))
          (portref I (instanceref pcpi_rd_OBUF_28__inst))
          (portref I (instanceref pcpi_rd_OBUF_29__inst))
          (portref I (instanceref pcpi_rd_OBUF_2__inst))
          (portref I (instanceref pcpi_rd_OBUF_30__inst))
          (portref I (instanceref pcpi_rd_OBUF_31__inst))
          (portref I (instanceref pcpi_rd_OBUF_3__inst))
          (portref I (instanceref pcpi_rd_OBUF_4__inst))
          (portref I (instanceref pcpi_rd_OBUF_5__inst))
          (portref I (instanceref pcpi_rd_OBUF_6__inst))
          (portref I (instanceref pcpi_rd_OBUF_7__inst))
          (portref I (instanceref pcpi_rd_OBUF_8__inst))
          (portref I (instanceref pcpi_rd_OBUF_9__inst))
          (portref I (instanceref pcpi_wait_OBUF_inst))
          (portref R (instanceref finish_reg))
          (portref R (instanceref pcpi_ready_reg))
          (portref R (instanceref pcpi_ready_reg_lopt_replica))
          )
         )
         (net (rename &_const1_ "<const1>") (joined
          (portref CE (instanceref finish_reg))
          (portref CE (instanceref pcpi_ready_reg))
          (portref CE (instanceref pcpi_ready_reg_lopt_replica))
          (portref P (instanceref VCC))
          )
         )
         (net clk (joined
          (portref I (instanceref clk_IBUF_inst))
          (portref clk)
          )
         )
         (net clk_IBUF (joined
          (portref I (instanceref clk_IBUF_BUFG_inst))
          (portref O (instanceref clk_IBUF_inst))
          )
         )
         (net clk_IBUF_BUFG (joined
          (portref C (instanceref finish_reg))
          (portref C (instanceref pcpi_ready_reg))
          (portref C (instanceref pcpi_ready_reg_lopt_replica))
          (portref O (instanceref clk_IBUF_BUFG_inst))
          )
         )
         (net finish_i_1_n_0 (joined
          (portref D (instanceref finish_reg))
          (portref O (instanceref finish_i_1))
          )
         )
         (net finish_reg_n_0 (joined
          (portref D (instanceref pcpi_ready_reg))
          (portref D (instanceref pcpi_ready_reg_lopt_replica))
          (portref I1 (instanceref finish_i_1))
          (portref Q (instanceref finish_reg))
          )
         )
         (net (rename pcpi_rd_0_ "pcpi_rd[0]") (joined
          (portref O (instanceref pcpi_rd_OBUF_0__inst))
          (portref (member pcpi_rd 31))
          )
         )
         (net (rename pcpi_rd_10_ "pcpi_rd[10]") (joined
          (portref O (instanceref pcpi_rd_OBUF_10__inst))
          (portref (member pcpi_rd 21))
          )
         )
         (net (rename pcpi_rd_11_ "pcpi_rd[11]") (joined
          (portref O (instanceref pcpi_rd_OBUF_11__inst))
          (portref (member pcpi_rd 20))
          )
         )
         (net (rename pcpi_rd_12_ "pcpi_rd[12]") (joined
          (portref O (instanceref pcpi_rd_OBUF_12__inst))
          (portref (member pcpi_rd 19))
          )
         )
         (net (rename pcpi_rd_13_ "pcpi_rd[13]") (joined
          (portref O (instanceref pcpi_rd_OBUF_13__inst))
          (portref (member pcpi_rd 18))
          )
         )
         (net (rename pcpi_rd_14_ "pcpi_rd[14]") (joined
          (portref O (instanceref pcpi_rd_OBUF_14__inst))
          (portref (member pcpi_rd 17))
          )
         )
         (net (rename pcpi_rd_15_ "pcpi_rd[15]") (joined
          (portref O (instanceref pcpi_rd_OBUF_15__inst))
          (portref (member pcpi_rd 16))
          )
         )
         (net (rename pcpi_rd_16_ "pcpi_rd[16]") (joined
          (portref O (instanceref pcpi_rd_OBUF_16__inst))
          (portref (member pcpi_rd 15))
          )
         )
         (net (rename pcpi_rd_17_ "pcpi_rd[17]") (joined
          (portref O (instanceref pcpi_rd_OBUF_17__inst))
          (portref (member pcpi_rd 14))
          )
         )
         (net (rename pcpi_rd_18_ "pcpi_rd[18]") (joined
          (portref O (instanceref pcpi_rd_OBUF_18__inst))
          (portref (member pcpi_rd 13))
          )
         )
         (net (rename pcpi_rd_19_ "pcpi_rd[19]") (joined
          (portref O (instanceref pcpi_rd_OBUF_19__inst))
          (portref (member pcpi_rd 12))
          )
         )
         (net (rename pcpi_rd_1_ "pcpi_rd[1]") (joined
          (portref O (instanceref pcpi_rd_OBUF_1__inst))
          (portref (member pcpi_rd 30))
          )
         )
         (net (rename pcpi_rd_20_ "pcpi_rd[20]") (joined
          (portref O (instanceref pcpi_rd_OBUF_20__inst))
          (portref (member pcpi_rd 11))
          )
         )
         (net (rename pcpi_rd_21_ "pcpi_rd[21]") (joined
          (portref O (instanceref pcpi_rd_OBUF_21__inst))
          (portref (member pcpi_rd 10))
          )
         )
         (net (rename pcpi_rd_22_ "pcpi_rd[22]") (joined
          (portref O (instanceref pcpi_rd_OBUF_22__inst))
          (portref (member pcpi_rd 9))
          )
         )
         (net (rename pcpi_rd_23_ "pcpi_rd[23]") (joined
          (portref O (instanceref pcpi_rd_OBUF_23__inst))
          (portref (member pcpi_rd 8))
          )
         )
         (net (rename pcpi_rd_24_ "pcpi_rd[24]") (joined
          (portref O (instanceref pcpi_rd_OBUF_24__inst))
          (portref (member pcpi_rd 7))
          )
         )
         (net (rename pcpi_rd_25_ "pcpi_rd[25]") (joined
          (portref O (instanceref pcpi_rd_OBUF_25__inst))
          (portref (member pcpi_rd 6))
          )
         )
         (net (rename pcpi_rd_26_ "pcpi_rd[26]") (joined
          (portref O (instanceref pcpi_rd_OBUF_26__inst))
          (portref (member pcpi_rd 5))
          )
         )
         (net (rename pcpi_rd_27_ "pcpi_rd[27]") (joined
          (portref O (instanceref pcpi_rd_OBUF_27__inst))
          (portref (member pcpi_rd 4))
          )
         )
         (net (rename pcpi_rd_28_ "pcpi_rd[28]") (joined
          (portref O (instanceref pcpi_rd_OBUF_28__inst))
          (portref (member pcpi_rd 3))
          )
         )
         (net (rename pcpi_rd_29_ "pcpi_rd[29]") (joined
          (portref O (instanceref pcpi_rd_OBUF_29__inst))
          (portref (member pcpi_rd 2))
          )
         )
         (net (rename pcpi_rd_2_ "pcpi_rd[2]") (joined
          (portref O (instanceref pcpi_rd_OBUF_2__inst))
          (portref (member pcpi_rd 29))
          )
         )
         (net (rename pcpi_rd_30_ "pcpi_rd[30]") (joined
          (portref O (instanceref pcpi_rd_OBUF_30__inst))
          (portref (member pcpi_rd 1))
          )
         )
         (net (rename pcpi_rd_31_ "pcpi_rd[31]") (joined
          (portref O (instanceref pcpi_rd_OBUF_31__inst))
          (portref (member pcpi_rd 0))
          )
         )
         (net (rename pcpi_rd_3_ "pcpi_rd[3]") (joined
          (portref O (instanceref pcpi_rd_OBUF_3__inst))
          (portref (member pcpi_rd 28))
          )
         )
         (net (rename pcpi_rd_4_ "pcpi_rd[4]") (joined
          (portref O (instanceref pcpi_rd_OBUF_4__inst))
          (portref (member pcpi_rd 27))
          )
         )
         (net (rename pcpi_rd_5_ "pcpi_rd[5]") (joined
          (portref O (instanceref pcpi_rd_OBUF_5__inst))
          (portref (member pcpi_rd 26))
          )
         )
         (net (rename pcpi_rd_6_ "pcpi_rd[6]") (joined
          (portref O (instanceref pcpi_rd_OBUF_6__inst))
          (portref (member pcpi_rd 25))
          )
         )
         (net (rename pcpi_rd_7_ "pcpi_rd[7]") (joined
          (portref O (instanceref pcpi_rd_OBUF_7__inst))
          (portref (member pcpi_rd 24))
          )
         )
         (net (rename pcpi_rd_8_ "pcpi_rd[8]") (joined
          (portref O (instanceref pcpi_rd_OBUF_8__inst))
          (portref (member pcpi_rd 23))
          )
         )
         (net (rename pcpi_rd_9_ "pcpi_rd[9]") (joined
          (portref O (instanceref pcpi_rd_OBUF_9__inst))
          (portref (member pcpi_rd 22))
          )
         )
         (net pcpi_ready (joined
          (portref O (instanceref pcpi_ready_OBUF_inst))
          (portref pcpi_ready)
          )
         )
         (net pcpi_ready_OBUF (joined
          (portref I (instanceref pcpi_wr_OBUF_inst))
          (portref Q (instanceref pcpi_ready_reg))
          )
         )
         (net pcpi_ready_reg_lopt_replica_1 (joined
          (portref I (instanceref pcpi_ready_OBUF_inst))
          (portref Q (instanceref pcpi_ready_reg_lopt_replica))
          )
         )
         (net pcpi_valid (joined
          (portref I (instanceref pcpi_valid_IBUF_inst))
          (portref pcpi_valid)
          )
         )
         (net pcpi_valid_IBUF (joined
          (portref I0 (instanceref finish_i_1))
          (portref O (instanceref pcpi_valid_IBUF_inst))
          )
         )
         (net pcpi_wait (joined
          (portref O (instanceref pcpi_wait_OBUF_inst))
          (portref pcpi_wait)
          )
         )
         (net pcpi_wr (joined
          (portref O (instanceref pcpi_wr_OBUF_inst))
          (portref pcpi_wr)
          )
         )
       )

           (property ECO_CHECKSUM (string "24e696b0"))
     )
   )
  )
(comment "Reference To The Cell Of Highest Level")

  (design cp_const
    (cellref cp_const (libraryref work))
    (property XLNX_PROJ_DIR (string "/data/cdrewes/GPCP/cp_0_const"))
    (property part (string "xc7z020clg400-1"))
  )
)
